
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">
    <img src="assets/images/PicFlow.png" alt="" routerLink="/">
    <button class="btn-home btn-primary btn-sm" routerLink="/">HOME</button>
  </a>
  <div class="custom-control-inline">
    <input type="text" placeholder="Search" (keyup.enter)="search(searchEl.value)" #searchEl>
    <button class="btn-outline-primary btn-submit" (click)="search(searchEl.value)">SUBMIT</button>
  </div>
</nav>
<nav class="navbar navbar-light bg-light justify-content-between" *ngIf="showPagination">
  <button   class="btn-primary btn-lg" (click)="left()" [disabled]="thisPage<=1"><</button>
  <label>Page: {{thisPage}} of {{numberPages}} total</label>
  <button   class="btn-primary btn-lg" (click)="right()">></button>
</nav>
<div class="card-columns">
  <div class="card" *ngFor="let item of unsplashItemList">
    <img class="card-img-top" [src]="item.imgSmall" [alt]="item.id" (click)="showDetail(item)"/>
    <div class="card-body">
      <p class="card-text">
        Uploaded by <span class="font-weight-bold">{{ item.userName}}</span> on
        {{ item.creationDate | date: "medium" }}
      </p>
      <p class="card-text comment">{{ item.description }}</p>
    </div>
  </div>
  <div [style.display]="detail ? 'block' : 'none'" class="modal"
       id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="myModalLabe">{{detailTitle}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideDetail()">X</button>
      </div>
      <div class="modal-body">
        <img *ngIf="!zoomed" class="img-responsive" src="{{detailUrl}}" alt="" (click)="enlarge()">
        <img *ngIf="zoomed" class="img-zoom" src="{{zoomedUrl}}" alt="" (click)="collapse()">
      </div>
    </div>
  </div>
  </div>
</div>
<nav class="navbar navbar-light bg-light justify-content-between" *ngIf="showPagination">
  <button   class="btn-primary btn-lg" (click)="left()" [disabled]="thisPage<=1"><</button>
  <label>Page: {{thisPage}} of {{numberPages}} total</label>
  <button   class="btn-primary btn-lg" (click)="right()">></button>
</nav>
