.modal-body > .img-responsive:hover{
  cursor: zoom-in;
}
.modal-body > .img-responsive{
  max-height: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-body > .img-zoom:hover{
  cursor: zoom-out;
}
.modal-dialog{
  padding-bottom: 10px!important;
}
.modal-body{
  position: relative;
  overflow: auto;
}
.modal-content{
  height: 95vh;
}
.card-text{
  color: darkgray;
}
.comment{
  font-style: italic;
}
.navbar-brand:hover{
  cursor: pointer;
}
.card-img-top:hover{
  cursor: pointer;
}
.modal-title{
  color: gray;
}
.btn-submit{
  margin-left: 3px;
}
